<nav class="navbar navbar-dark menu-wrapper">
  <a class="navbar-brand logo" [routerLink]="['/']"></a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link"
        [routerLink]="['/']"
        [translate]="'menu.notes'"></a>
    </li>
    <li class="nav-item dropdown dropdown-button">
      <a class="nav-link dropdown-toggle"
         data-toggle="dropdown"
         role="button"
        (click)="languageDropDown = !languageDropDown"
        [translate]="'settings.changeLanguage'"
      ></a>
      <div class="dropdown-menu" *ngIf="languageDropDown">
        <a class="dropdown-item"
          [ngClass]="{'active' : selectedLanguage === language.language}"
          (click)="changeLanguage(language.language)"
          *ngFor="let language of definedLanguages">
          {{language.title}}
        </a>
      </div>
    </li>
  </ul>
</nav>
